EXCEL/lib
MATLAB/lib
SAS/lib
JAVA/dist
JAVA/configuration.properties
JAVA/build/
JAVA/FileProviderTestFiles/
JAVA/bin/
*.orig
**/configuration.properties
.classpath
.project
.settings

JAVA/target/
maven-system
target
